<div class="main">
    <div class="up"><span class="our">Our</span><span class="services"> Services</span></div>
    <p class="para">Lorem ipsum dolor sit amet consectetur. Iaculis et sed augue a at<br> pharetra enim integer.</p>
    <div class="sec-main">
        <div class="card">
            <img src="../../../../assets/images/wallet.png" />
            <p class="title">Wallet</p>
            <div class="info">Unlock the true power of seamless and global<br> multi-currency money transfers with a<br> Wenpay wallet. Our wallets are fully digital, with a<br> customisable dashboard designed to evolve<br> with your needs.</div>
        </div>
        <div class="card">
            <img src="../../../../assets/images/trading.png" />
            <p class="title">OTC Trading</p>
            <p class="info">Run your business smoothly with liquidity at its<br> best. Our OTC trading service is designed for<br> SMEs and institutions that require utmost <br>confidentiality, personalization and speed for<br> high volume transactions.</p>
        </div>
        <div class="cardd">
            <img src="../../../../assets/images/dev.png" />
            <p class="title">Wallet</p>
            <p class="info">Wenpay secure APIs are developer friendly,<br> come with end-to-end automation and flawless<br> integration. Our easy-to-use APIs help you get<br>market ready and build for global expansion,<br> while giving you complete control over your<br> customers’ experience.</p>
        </div>
    </div>
</div>
