
.sec-main{
    display: flex;
    background-color: #fff;
    padding: 2.5rem;
    justify-content: space-around;
}

.up{
    text-align: center;
}
.info{
    color: #5A5A65;
text-align: center;
font-family: "Euclid Circular A";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 170%; /* 27.2px */
}
.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-right: 91px;
}
.cardd{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.title{
color: #14173C;
text-align: center;
font-family: Raleway;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.32px;
}
.para{
    color: var(--material-theme-ref-neutral-neutral87, #D8DBD9);
text-align: center;
font-family: "Euclid Circular A";
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 170%; 
margin-bottom: 4rem;
}
.main{
    
    background-color: #080918;
    padding: 11.25rem 7rem;
}
.our{
    color: var(--material-theme-ref-neutral-neutral92, #E6E9E7);
font-family: Raleway;
font-size: 4rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.64px;
}
.services{
    color: #14173C;
    background: linear-gradient(90deg, #EE0978 0%, #F63543 50.41%, #FF6702 100%);
    -webkit-text-fill-color: transparent; 
            -webkit-background-clip: text; 
font-family: Raleway;
font-size: 4rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.64px;
}

@media screen and (max-width: 1200px) {
    .sec-main{
        flex-direction: column;
        align-items: center;
    }
    .card{
        margin-right: 0;
        margin-bottom: 1rem;
    }
    br{
        display: none;
    }
    .main{padding: 2rem;}
  }