<div class="back">
  <div class="main">
    <div class="left">
      <p class="title">Send monry in a heartbeat</p>
      <p class="info">Make your money move, fast. Send to 70+ countries, fast. Free from hidden fees and exchange rate
        markups</p>
      <div class="but">
        <div class="text">Send money now</div>
      </div>
    </div>
    <div class="second">
      <div class="container">
        <div class="receiver-info">
          <div class="receiver-text">You Send</div>
          <input type="text" class="receiver-input" placeholder="$0" />
        </div>
        <div class="currency-info">
          <div class="currency-icon">
            <div class="icon-part green"></div>
            <div class="icon-part white"></div>
            <div class="icon-part green"></div>
          </div>
          <div class="currency-text">USD</div>
          <div class="arrow-icon"></div>
        </div>
      </div>
      <div class="flex">

        <div>
          Exchange Rate
        </div>
        <div>
          1CAD = 1.234 USD
        </div>
      </div>
      <div class="container">
        <div class="receiver-info">
          <div class="receiver-text">Receiver Gets</div>
          <input type="text" class="receiver-input" placeholder="$0" />
        </div>
        <div class="currency-info">
          <div class="currency-icon">
            <div class="icon-part red"></div>
            <div class="icon-part white"></div>
            <div class="icon-part red"></div>
          </div>
          <div class="currency-text">CAD</div>
          <div class="arrow-icon"></div>
        </div>
      </div>
      <div class="flex">

        <div>
          Our Service Fee
        </div>
        <div>
          0 CAD
        </div>
      </div>
      <div class="flex">

        <div>
          Your Total Pay
        </div>
        <div>
          0 CAD
        </div>
      </div>
      <div class="flex">

        <div>
          Duration before delivery
        </div>
        <div>
          1 hr
        </div>
      </div>

    </div>
  </div>

  <div class="main-div">
    <div class="first-div">
      <div class="countries">Countries we support:</div>
      <div class="divv">
        <img class="img"
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAT4AAACfCAMAAABX0UX9AAAACVBMVEUAh1H///8AgUYSvaAeAAABX0lEQVR4nO3QQQ0AIAzAwIF/0Yi4ZA/Sc9DObLlnzV2L2tM+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+8uW+B3AYRFPn9q1JAAAAAElFTkSuQmCC" />
        <p class="titlee">Nigeria</p>
      </div>
      <div class="divv">
        <img class="img"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBcJeyDlSz1Ns-HlgdN6gp4LjaITxDlgQ4DA&s" />
        <p class="titlee">Ghana</p>
      </div>
    </div>
    
    <div class="second-div">
      <div class="countries">Coming Soon:</div>
      <div class="divv">
        <img class="img"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQINEaI_arjlQaxOOZzcQGp91p4AQBC5NuBng&s" />
        <p class="titlee">South Africa</p>
      </div>
      <div class="divv">
        <img class="img"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQencQ3LQCoGHMd3XGe3hwvHE1XhWDtHQeNZw&s" />
        <p class="titlee">Kenya</p>
      </div>
      <div class="divv">
        <img class="img"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTye_-L-yJqMWXw_Xq-dQNwmmBPUKLGxD58Q&s" />
        <p class="titlee">Cameroon</p>
      </div>
    </div>

  </div>

</div>