
.footer {
    display: flex;
    padding-top: 300px;
    background: url('../../../../assets/back_footer.png');

    background-size: cover;
    background-position: center;
    align-items: flex-start;
    justify-content: center;
    gap: 64px;
    width: 100vw;
    background-color: #080918;

    // padding-left: 11.25rem;
    // padding-right: 11.25rem;
    padding-bottom: 19rem;
}

.flex-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.media {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

svg {
    margin-right: 0.75rem;
}

.li {
    margin: 1rem;
    display: flex;
    align-items: center;
    list-style: none;
    color: #FFF;
    font-family: "Euclid Circular A";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    cursor: pointer;
}

.li:hover {
    transform: translateX(5px);
    transition: all 0.3s ease;
    color: #EE0978;
}

p {
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 18px */
    letter-spacing: 0.18px;
    text-transform: uppercase;
}

.copyright {
    color: #D9D9D9;
    font-family: "Euclid Circular A";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.info {
    color: #FFF;
    font-family: "Euclid Circular A";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    /* 28px */
}
@media screen and (max-width: 800px) {
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .info{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 4rem;
    }
  }