<div class="footer">
    <div>
        <img class="img" src="assets/footer_logo.png" />
        <p class="info">Registered and divcensed with<br> FINTRACRegistration number M22147301.</p>
    </div>
    <div>
        <p>SOCIAL MEDIA</p>
        <div >
            <div class="li">Twitter</div>
            <div class="li">divnkedin</div>
            <div class="li">Facebook</div>
            <div class="li">Instagram</div>
        </div>
    </div>
    <div >
        <p>COMPANY</p>
        <div>
            <div class="li">Features</div>
            <div class="li">Services</div>
            <div class="li">About Us</div>
            <div class="li">Press Kit</div>
            <div class="li">Blog</div>
        </div>
    </div>
    <div>
        <p>INFO</p>
        <div>
            <div>
                infowenpay.io
            </div>
            <div class="li">+15512330127</div>
<div class="li">+23408164389354</div>
<div class="li">16192, Coastal Highway, Lewes, Delaware 19958, County of Sussex, USA</div>
<div class="li">15a Ajanaku Street, Awuse Estate, Ikeja, Lagos, Nigeria</div>
        </div>
    </div>
</div>

