.first{
    color: #14173C;
    font-family: Raleway;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.64px;
}
.flex{
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px; /* Adjust gap as needed */
}
.main{
    margin: 140px 180px;
}
.second{
    background: linear-gradient(90deg, #EE0978 0%, #F63543 50.41%, #FF6702 100%);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
    font-family: Raleway;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.64px;
}
.para{
    color: #5A5A65;
font-family: "Euclid Circular A";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 170%; /* 34px */
margin-bottom: 4rem;
}