<div>
    <div class="client"><span class="first">Client</span> <span class="second"> Testimonials</span></div>
    <section class="sec">
      <img src="../../../../assets/laptop.png" />
      <div class="parent">
        
        
        <div class="scroll-arrow" id="scroll-left" (click)="scrollLeft()">
          <span class="material-symbols-outlined">
            east
            </span>
        </div>
        
        <div class="scroll-arrow" id="scroll-right" (click)="scrollRight()">
          <span class="material-symbols-outlined">
            west
            </span>
        </div>
      </div>
      <ul id="imgList">
        <app-carousel-card [flag]="isCardActive(0)"></app-carousel-card>
        <app-carousel-card [flag]="isCardActive(1)"></app-carousel-card>
        <app-carousel-card [flag]="isCardActive(2)"></app-carousel-card>
        <app-carousel-card [flag]="isCardActive(3)"></app-carousel-card>
        <app-carousel-card [flag]="isCardActive(4)"></app-carousel-card>
      </ul>
      
        
      </section>
      
</div>
