.map{
  background-color: #080918;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.img{
  position: absolute;
  scale: 0.8;
  left: 22%;
  opacity: 0;
  animation: changeOpacity 1s linear 3s forwards 1;
}
@keyframes changeOpacity {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100%;
  }
}

svg path{
  fill: rgba(209, 209, 218, 0.15);
}
p{
  color: white;
}
.div{
  left: 30%;
  top: 35%;
  height: 100px;
  width: 100px;
  position: absolute;
}
#CA{
  fill: #d1d1d1a9;
}
#NG{
  fill: #d1d1d1a9;

}
svg path:hover{
  fill: #d1d1d1a9;
}
.start{
text-align: center;
padding-top: 2rem;
color: rgba(250, 253, 251, 0.80);
font-size: 24px;
font-family: Raleway;
font-weight: 700;
text-transform: uppercase;
line-height: 36px;
letter-spacing: 7.20px;
word-wrap: break-word
}

@media screen and (max-width:1400px){
  .img{
    left: 8%;
  }
}
@media screen and (max-width:1200px){
  .img{
    left: 3%;
  }
}