.first{
    color: var(--material-theme-white, #FFF);
font-family: Raleway;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.56px;
}
.second{
    background: linear-gradient(96deg, #24BEB7 0%, #41E595 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
            font-family: Raleway;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.56px;
}
.main{
    background:url('../../../../assets/images/back2.png');
display: flex;
flex-direction: column;
justify-content: center;
position: relative;
bottom: -180px;
left: calc(50% - 683px);
align-items: center;
    height: 342px;
    width: 1366px;
    background-color: black;
}
.buttons{
    display: flex;
    justify-content: center;

}
.signup{
    color: var(--material-theme-white, #FFF);
font-family: "Euclid Circular A";
border: 0;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-radius: 8px;
display: flex;
margin-right: 2rem;
width: 175px;
padding: 15px 24px;
justify-content: center;
align-items: center;
gap: 8px; 
background: linear-gradient(96deg, #21ACA6 0%, #37C37E 100%), #FFF;
}
.signup:hover{
    
    background: linear-gradient(90deg, #EE0978 0%, #F63543 50.41%, #FF6702 100%);
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}
.bookdemo{
    color: #21ac16;
    background: #FFF;
font-family: "Euclid Circular A";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
    display: flex;
width: 175px;
padding: 15px 24px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 8px;
border: 1px solid #21ac16;
}
@media screen and (max-width: 1200px) {
    .second{
        font-size: 2rem;
    }
    .first{
        font-size: 2rem;
    }
    .main{
        width: 70vw;
        left: calc(50% - 35vw);
    }
    .contain{
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bookdemo{
        width: 7rem;
        font-size: 0.75rem;
    }
    .signup{
        width: 7rem;
        font-size: 0.75rem;
    }
    svg{
        display: none;
    }
  }