<div [class.card-white]="flag" [class.card-green]="!flag">
  
    <div class="circle"></div>
    <div [class.content-white]="flag" [class.content-black]="!flag">
      <div class="description">
        Unlock the true power of seamless<br> and global multi-currency money<br> transfers with a Wenpay wallet. Our<br> wallets are fully digital, with a<br> customisable dashboard designed to<br> evolve with your needs.
      </div>
      <div [class.details-white]="flag" [class.details-black]="!flag">
        <img class="avatar" src="../../../../assets/laptop.png" />
        <div class="info">
          <div class="name">Emmanuel Udomisor</div>
          <div class="designation">CEO Meganet</div>
        </div>
      </div>
    </div>
  </div>
  