<div class="main-div">
    <div class="first-div">
        <div class="countries">Countries we support:</div>
        <div class="divv">
            <img class="img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAT4AAACfCAMAAABX0UX9AAAACVBMVEUAh1H///8AgUYSvaAeAAABX0lEQVR4nO3QQQ0AIAzAwIF/0Yi4ZA/Sc9DObLlnzV2L2tM+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+0j7SPtI+8uW+B3AYRFPn9q1JAAAAAElFTkSuQmCC" />
            <p class="title">Nigeria</p>
        </div>
        <div class="divv">
            <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBcJeyDlSz1Ns-HlgdN6gp4LjaITxDlgQ4DA&s" />
            <p class="title">Ghana</p>
        </div>
    </div>
    <p>|</p>
    <div class="second-div">
        <div class="countries">Coming Soon:</div>
        <div class="divv">
            <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQINEaI_arjlQaxOOZzcQGp91p4AQBC5NuBng&s" />
            <p class="title">South Africa</p>
        </div>
        <div class="divv">
            <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQencQ3LQCoGHMd3XGe3hwvHE1XhWDtHQeNZw&s" />
            <p class="title">Kenya</p>
        </div>
        <div class="divv">
            <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTye_-L-yJqMWXw_Xq-dQNwmmBPUKLGxD58Q&s" />
            <p class="title">Cameroon</p>
        </div>
    </div>

</div>
