.img{
    width: 12.5rem;
    height: 12.45rem;
    margin-right: 30px;
   
}
.para{
    color: rgba(20, 23, 60, 0.70);
font-family: "Euclid Circular A";
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: 170%; /* 34px */
letter-spacing: -0.2px;/* 27.2px */
}
.title{
    color: #14173C;
font-family: Raleway;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.28px;
}
.main-div{
    padding: 2rem 3rem;
    display: flex;
    min-height: 15rem;
    min-width: 40rem;
    border-radius: 1rem;
background: rgba(36, 176, 159, 0.15);
    width: fit-content;
   margin: 2rem;
}
@media screen and (max-width: 1200px) {
    .main-div{
        min-height: 10rem;
        flex-direction: column;
        width: fit-content;
        margin: 0;
    }
    .img{
        height: 8.5rem;
        width: 8.5rem;
    }
}