.sec{
    color: #5A5A65;
text-align: center;
font-family: "Euclid Circular A";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 170%; /* 34px */
}
.main{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.first{
    background: linear-gradient(96deg, #24BEB7 0%, #41E595 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    font-family: Raleway;
    font-size: 88px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.88px;
    }
    .second{
    color: #14173C;
    font-family: Raleway;
    font-size: 88px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.88px;
    }
    .signup{
        border:solid 1px #41e595;
        color: var(--material-theme-white, #FFF);
font-family: "Euclid Circular A";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
    border-radius: 8px;
    display: flex;
width: 220px;
padding: 15px 24px;
justify-content: center;
align-items: center;
gap: 8px; 
background: linear-gradient(96deg, #24BEB7 0%, #41E595 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    }
    .bookdemo {
        border: 0;
        margin-right: 2rem;
        border-radius: 8px;
        background-image: linear-gradient(96deg, #21ACA6 0%, #37C37E 100%), linear-gradient(96deg, #21ACA6 0%, #37C37E 100%);
        background-origin: border-box;
        background-clip: content-box, border-box;
        background-size: 0% 100%, 100% 100%; /* Initially hide the hover gradient */
        background-position: 100% 0, 0 0;
        display: flex;
        width: 175px;
        padding: 15px 24px;
        justify-content: center;
        align-items: center;
        color: #FFF;
        font-family: "Euclid Circular A";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        gap: 8px;
        cursor: pointer;
        transition: background-size 0.3s ease; /* Smooth transition for background change */
    }
    
    .bookdemo:hover {
        background: linear-gradient(90deg, #EE0978 0%, #F63543 50.41%, #FF6702 100%);
    }
    
    .buttons{
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    .parent{
        padding: 6.25rem 14rem;
    }

    @media screen and (max-width: 1200px) {
        .parent{
            padding: 3rem;
        }
        .first{
            font-size: 4rem;
        }
        .second{
            font-size: 4rem;
        }
        br{
            display: none;
        }
      }