.img{
    width: 19rem;
    height: 16rem;
    // margin-right: 30px;
   
}
.para{
    color: #5A5A65;
font-family: "Euclid Circular A";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 170%; /* 27.2px */
}
.title{
    color: #14173C;
font-family: Raleway;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.28px;
}
.main-div{
    display: flex;
    width: 100%;
    gap: 24px;
    flex-shrink: 0;
}
@media screen and (max-width: 1200px) {
   .img{
   width: 14rem;
   height: 8rem;
}
.main-div{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.4rem;
    flex-direction: column;
    background: rgba(131, 131, 131, 0.082);
    padding: 1rem;
   }
   
  }